*{
    margin: 0;
    padding: 0;
}

.container{
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    height: 300px;
    margin: auto
}
h1{
    text-align: center;
   
}

.input-gruop{
    display: flex;
    justify-content: center;
    padding: 40px;
}
input{
    width: 190px;
    height: 30px;
    border-radius: 6px;
    
}
button{
     background-color:  rgb(0, 128, 128);
     border-radius: 5px;
     border: transparent;

}